@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');


*{
    font-size: large;
    font-family: 'Oswald', 'Marmelad','Special Elite', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
} 
.card {
    filter: grayscale(90%);
   -webkit-filter: grayscale(90%);
}
.nav-link{
    color: beige;
}
.nav-link:hover{
    color: rgba(245, 245, 220, 0.821);
}
.minivan{
    width: 3em;
    margin-right: 1em;
}
.nav-item{
    display: flex;
    justify-content: center;
}
.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-overlay h5{
    font-size: 2em;
    text-shadow: -4px 7px 8px rgba(0,0,0,0.6);
}
.card-banner{
    height: 25em;
}
.top_destinations{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-size: 1em;
}
.color {
    background-color: #dfdede;
}
.article{
    opacity: 0.8;
    width: 16em;
    height: 16em;
    
}
.article:hover{
    opacity: 1;
    transform:perspective(800px) rotateY(0deg);
    filter: grayscale(10%);
   -webkit-filter: grayscale(10%);
}

.article_title{
    color: black;
    opacity: 1;

}
.articles{
    /* background-color: rgb(0, 0, 0); */
    padding: 3em; 
    
}
.form{
    /* border: 1px solid black; */
    justify-content: center;
}

.boutons{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;

}
.boutons-article{
	background-color:#bac2bc;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	/* font-size:17px; */
	padding:16px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #070e05;
    font-family: "Oswald";
    border-radius: 3px;
}
.boutons-article:hover {
	background-color:#e5d28d;
}
.boutons-article:active {
	position:relative;
	top:1px;
}
.edit_article{
    text-align: center;
    margin-top: 3em;
}
.submit{
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    
}
.footer{
    text-align: center;
    background: black;
    color: white;
}
.formulaire{
    padding-top: 7em;
}



